.base-input__container {
    padding: 8px;
    width: 100%;
}

.base-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    background-color: var(--input-background);
    color: var(--input-color);
}

.base-input:focus {
    border-color: #2684FF;
}