.base-input__container {
    padding: var(--base-gap);
    width: 100%;
}

.base-input {
    width: 100%;
    box-sizing: border-box;
    padding: var(--base-gap);
    border: 1px solid var(--input-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-m);
    background-color: var(--input-background);
    color: var(--input-color);
}