.organization-input-container {
    flex: 1;
    cursor: pointer;
    position: relative;
    padding: 8px 8px 8px 0;
}

.organization-input__error {
    position: absolute;
    bottom: 40px;
    left: 0;
    color: red;
    font-size: 14px;
}
