.organization-input-container {
    flex: 1;
    cursor: pointer;
    position: relative;
    padding: var(--base-gap) var(--base-gap) var(--base-gap) 0;
}

.organization-input__error {
    position: absolute;
    bottom: 48px;
    left: 0;
    color: var(--error-color);
    font-size: var(--font-size-m);
}
