main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 32px;
}

.form {
    flex: 1;
    display: flex;
    align-items: baseline;
    width: 100%;
}