.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

.table-pagination__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.table-pagination__button {
    padding: 8px;
    margin: 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
}