.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}